div(class="controls-wrapper controls-wrapper--white")
  div(class="textarea-marker-props-wrapper")
    textarea(name="textarea-marker-props" id="textarea-marker-props" class="textarea textarea__marker-props" cols="25" rows="5")
    div(class="buttons-wrapper")
      input(type="button" class='btn btn__add-marker-props' value="Add props" aria-label="add marker props")
      input(type="button" class='btn btn__remove-active-state' value="Unselect" aria-label="remove active state from markers")