<!DOCTYPE html>
html(lang="en")
  head
    include includes/meta.pug
    title Google Maps Editor
  body
    include includes/topbar.pug
    div(class="hero")
      p
        | Google maps GeoJSON editor
    div(class="load-wrapper")