<!DOCTYPE html>
html(lang="en")
  head
    include includes/meta.pug
    title Google Maps Editor
  body
    include includes/topbar.pug
    div(class="hero")
      h1(class="header")
        | Google maps GeoJSON editor
    main(class="main-wrapper")
      div(class="load-wrapper")
        include includes/session-list.pug