/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ui-wrapper {
  display: flex;
  justify-content: center;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  border-top-right-radius: 4px;
  min-width: 150px;
}

.btn {
  box-sizing: border-box;
  margin: 5px;
  height: 35px;
  border: none;
  border-radius: 4px;
  width: 100%;
}

.remove-marker-btn {
  background-color: rgb(230, 94, 70);
}

.get-position-btn {
  background-color: rgb(77, 233, 98);
}