/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ui-wrapper {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  background: white;
  opacity: 0.9;
  transition: 0.2s;
  will-change: opacity;
  margin: 0;
  padding: 0;
}

.ui-wrapper:hover {
  opacity: 1;
}

.controls-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(gray, #585858);
  padding: 5px;
  font-family: 'verdana';
  z-index: 1;
  border-right: 2px solid #585858;
}

.controls-wrapper--white {
  background: linear-gradient(white, rgb(228, 228, 228));
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  font-family: 'verdana';
  z-index: 1;
  border-right: 2px solid #585858;
}

.btn,
.text-input {
  box-sizing: border-box;
  margin: 3px;
  height: 30px;
  border: none;
  border-radius: 3px;
}

.text-input {
  padding: 0;
  margin-bottom: 10px;
}

label {
  font-size: 12px;
  padding: 0;
  margin: 0;
  color: white;
}

.inputs-wrapper,
.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.btn__remove-marker {
  background-color: rgb(224, 114, 95);
}

.btn__get-position {
  background-color: rgb(117, 218, 128);
}

.btn__center-map {
  background-color: rgb(90, 133, 226);
}

.btn:hover {
  opacity: 0.8;
}

.dragged-pos {
  background: #585858;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.2s;
  transform: translate(0, 50px);
  will-change: transform, opacity;
  padding: 5px;
  font-family: 'verdana';
  font-size: 12px;
  text-align: center;
}

.radio-label {
  font-family: 'verdana';
  font-size: 12px;
  color: black;
}
.radio-mode-legend {
  padding: 0;
}

.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 5px 0 5px 0;
  border: 2px solid black;
  box-sizing: border-box;
  vertical-align: middle;
}
.radio:checked {
  background-color: rgb(224, 114, 95);
}

.radio-container {
  padding: 0;
}

.radio-mode-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}