/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ui-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  background: white;
  opacity: 0.9;
  transition: 0.2s;
  will-change: opacity;
  margin: 0;
  padding: 0;
  border-top-right-radius: 5px;
}

.ui-wrapper:hover {
  opacity: 1;
}

.controls-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(gray, #585858);
  padding: 5px;
  font-family: 'verdana';
  z-index: 1;
  border-right: 1px solid #cfcfcf;
  border-top-right-radius: 5px;
  max-width: 350px;
}

.controls-wrapper--white {
  background: linear-gradient(white, rgb(247, 247, 247));
}

.btn,
.text-input {
  box-sizing: border-box;
  margin: 3px;
  height: 27px;
  border: none;
  border-radius: 2px;
}

.text-input {
  padding: 0;
  max-width: 150px;
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'verdana';
}

.inputs-wrapper,
.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.btn__remove-marker {
  background-color: rgb(224, 114, 95);
}

.btn__get-position {
  background-color: rgb(117, 218, 128);
}

.btn__center-map {
  background-color: rgb(90, 133, 226);
}

.btn__add-marker-props {
  background-color: rgb(117, 218, 128);
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn:hover {
  filter: brightness(1.2);
}

.btn:active {
  background-color: azure;
}

.dragged-pos {
  background: #585858;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: 0.2s;
  will-change: opacity;
  padding: 5px;
  font-family: 'verdana';
  font-size: 12px;
  text-align: center;
  border-top-left-radius: 5px;
  z-index: 2;
}

.label__radio {
  font-family: 'verdana';
  font-size: 12px;
  color: black;
}
.radio-mode-legend {
  padding: 0;
  font-size: 14px;
}

.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 5px 0 5px 0;
  border: 2px solid black;
  box-sizing: border-box;
  vertical-align: middle;
}
.radio:checked {
  background-color: rgb(224, 114, 95);
}

.radio-container {
  padding: 0;
}

.radio-mode-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.textarea {
  border: 1px solid #cfcfcf;
}

.textarea-marker-props-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.textarea__marker-props {
  height: 70%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.output-marker-props {
  min-width: 250px;
}