include m-session-list-item.pug
div(class="sessions sessions__all")
    ol(class="sessions sessions__list")
        +m-session-list-item({
            aHref: "#",
            sessionName: "namexd asdfsdfsdfsdf",
            date: "12/12/1212"
        })
        +m-session-list-item({
            aHref: "#",
            sessionName: "namexsssssd",
            date: "12/12/1212"
        })
        +m-session-list-item({
            aHref: "#",
            sessionName: "namf   sdfsdasdasdasdasdsadfexd",
            date: "12/12/1212"
        })
        +m-session-list-item({
            aHref: "#",
            sessionName: "namexdfff",
            date: "12/12/1212"
        })
        +m-session-list-item({
            aHref: "#",
            sessionName: "namesdgfdsfgxd",
            date: "12/12/1212"
        })