nav(class="topbar")
    div(class="anchor-wrapper")
        a(href="/" class="btn btn__green")
            | home
        a(href="/editor" class="btn btn__green")
            | editor
    div(class="anchor-wrapper")
        button(class="btn btn__blue")
            | center
        button(class="btn btn__blue")
            | save
    div(class="anchor-wrapper")
        button(class="btn btn__red")
            | profile
        button(class="svg-container btn-logout" title="log out")
            include svg/logout.svg