.err404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: $c-red;
}

.err404 p {
    text-align: center;
    font: $f-err;
    color: $c-black;
}