$c-white: #ffffff;
$c-lightgray: #f9f9f9;
$c-gray: #f1f1f1;
$c-darkgray: #393939;
$c-black: #000000;
$c-blue: #5a85e2;
$c-green: #75da80;
$c-red: #e0725f;

$f-base: 15px verdana;
$f-h1: 25px verdana;
$f-btn: 14px verdana;
$f-err: 10em verdana;